// @name Shapes
// @description Shape classes
// @group global
// @tag shapes
//
// @class triangle - Makes a triangle facing up
// @class triangle--<size> [xs,sm,md,lg,xl] - Specifies a triangle size
// @class triangle--<position> [top,right,bottom,left] - Specifies a triangle's point direction
.triangle{
  @include triangle($triangle-size--md, $default-color--text)
}

@each $name, $value in $dimensions--triangle-sizes{

  .triangle--#{$name}{
    @include triangle($value);
  }
}

@each $name, $value in $color--palette{

  .triangle--colored-#{$name}{
    border-top-color: $value !important;
  }
}

@for $idx from 1 through 4{

  $pos:       nth((up, left, down, right), $idx);
  $rotation:  #{($idx - 1) * 90}deg;

  .triangle--#{$pos}{
    @include rotate( $rotation );
  }
}