.font--scala-sans{
  font-family: $font-family--scala-sans;
  font-weight: 400;
  font-style: normal;
}
.font--scala-sans-italic{
  font-family: $font-family--scala-sans-italic;
  font-weight: 400;
  font-style: italic;
}
.font--scala-sans-bold{
  font-family: $font-family--scala-sans-bold;
  font-weight: 700;
  font-style: normal;
}
.font--scala-sans-bold-italic{
  font-family: $font-family--scala-sans-bold-italic;
  font-weight: 700;
  font-style: italic;
}
.font--scala-sans-caps{
  font-family: $font-family--scala-sans-caps;
  font-weight: 400;
  font-style: normal;
}
.font--scala-sans-caps-italic{
  font-family: $font-family--scala-sans-caps-italic;
  font-weight: 400;
  font-style: italic;
}
