// @name Typography
// @description Type and text classes
// @group global
// @tag typography
//
// @class text--<size> [xs,sm,md,lg,xl] - Text sizes with appropriate line heights
// @class text-height--<size> [xs,sm,md,lg,xl] - Adjusts text line heights
// @class text--content - Class used to describe generic content, if needed
// @class text--muted - Muted text
// @class text--emphasis - Italicized text
// @class text--strong - Strong weighted text
// @class text--normal - Normal weighted text
// @class text--fine-print - Fine print display, used for legal and copyrights, etc.
// @class text--empty  - Centered fine print text, used for empty containers in apps
// @class text--positive-value - Positive number or value colors
// @class text--negative-value - Negative number or value colors
// @class text--no-wrap - Text with nowrap white-space on
// Font Family Classes
@import "typography-system";
@import "typography-scala-sans";
@import "typography-blokk";

// Type Sizing
.text--xl{
  @include font-size($font-size--xl);
  @include line-height($line-height--xl);
}

.text--lg{
  @include font-size($font-size--lg);
  @include line-height($line-height--lg);
}

.text--md{
  @include font-size($font-size--md);
  @include line-height($line-height--md);
}

.text--sm{
  @include font-size($font-size--sm);
  @include line-height($line-height--sm);
}

.text--xs{
  @include font-size($font-size--xs);
  @include line-height($line-height--sm);
}

.text-height--xl{
  @include line-height($line-height--xl);
}

.text-height--lg{
  @include line-height($line-height--lg);
}

.text-height--md{
  @include line-height($line-height--md);
}

.text-height--sm{
  @include line-height($line-height--sm);
}

.text-height--xs{
  @include line-height($line-height--xs);
}

.text-height--full{
  line-height : 100%;
}

// Text Types
.text--content{
  @extend .font--arial;
  color : $default-color--text;
}

.text--muted{
  color : $default-color--text-muted;
}

.text--emphasis{
  font-style : italic;
}

.text--capitalize{
  text-transform : capitalize;
}

.text--uppercase{
  text-transform : uppercase;
}

.text--lowercase{
  text-transform : lowercase;
}

.text--strong{
  font-weight : bold;
}

.text--normal{
  font-weight : normal;
}

.text--fine-print{
  @extend .text--xs;
  @extend .text--normal;
  @extend .text--emphasis;
}

.text--empty{
  @extend .text--fine-print;
  @extend .text-center;
}

.text--positive-value{
  color : $color--positive-value !important;
  
  > .icon{ @extend .icon--meadow; }
  > .triangle{
	border-top-color : darken($color--positive-value, 5%);
  }
}

.text--negative-value{
  color : $color--negative-value !important;
  
  > .icon{ @extend .icon--raspberry; }
  > .triangle{
	border-top-color : darken($color--negative-value, 5%);
  }
}

.text--no-wrap{
  white-space : nowrap;
}

.text--wrap{
  white-space : normal;
}

.text--hidden{
  text-indent : -1000000%;
}

@each $color, $value in $color--palette{
  .text--colored-#{$color}{
	color : $value !important;
  }
}

@each $alignment in (left, right, center){
  
  .text-#{$alignment}{
	text-align : $alignment;
  }
  
  @each $screen-size, $screen-val in $dimensions--screen-sizes{
	.text-#{$alignment}--align-below-#{$screen-size}{
	  @include breakpoint(max-width $screen-val - 1){ text-align : $alignment !important; }
	}
  }
}

@each $name, $shadow in (
		'dk' : 0 2px 4px $color--obsidian,
		'dk-blur' : 0 0 30px $color--obsidian,
		'lt' : 0 2px 4px $color--white,
		'lt-blur' : 0 0 30px $color--white){
  
  .text-shadow--#{$name}{ text-shadow : $shadow; }
}