// @name Typography (System)
// @description Generic type and text classes
// @group global
// @tag typography-system
//
// @class font--arial - Arial font family class
// @class font--verdana - Verdana family class
.font--arial{
  font-family: $font-family--arial;
}
.font--verdana{
  font-family:$font-family--verdana;
}