$zindex-level 		: 0;
$zindex-level-max 	: 10;

@while $zindex-level < $zindex-level-max{
  .zIndex--#{$zindex-level * 100}{
	z-index : #{$zindex-level * 100};
  }

  $zindex-level : $zindex-level + 1;
}