<head xmlns="http://www.w3.org/1999/html">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>{{project.title}} Style Guide {{project.version}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/style.css?v=1" type="text/css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>

    <style>
        html, body{
            width      : auto;
            height     : auto;
            background : #FFF !important;
        }

        .well--lt{ background : #FFF; }

        .page-header, .styleguide-nav{
            z-index : 2;
        }

        .page-header{
            position   : fixed;
            margin-top : 0;
            top        : 0;
            left       : 0;
            right      : 0;
            height     : 150px;
            padding    : 20px 20px 20px 50px;
            border     : none;
        }

        .page-header > .well{
            margin : 0;
            height : 150px;
        }

        .styleguide-nav{
            position      : fixed;
            top           : 150px;
            left          : 0;
            width         : 300px;
            bottom        : 0;
            background    : #32393F;
            padding       : 0 1px 0 0;
            margin-bottom : 0;
        }

        .panel-group .panel{
            border-right  : none;
            border-left   : none;
            border-top    : none;
            border-radius : 0;
            border-color  : #32393F;
            margin        : 0 !important;
        }

        .panel-group .panel:last-of-type{
            border-bottom : none;
        }

        .panel-heading{
            padding : 0;
            border  : none;
        }

        .panel-title{
            padding : 0;
        }

        .panel-title a{
            padding    : 5px 50px;
            background : #999;
            color      : #FFF;
        }

        .panel-title a[aria-expanded="true"]{
            background-color : #666;
        }

        .panel-body .nav li a{
            padding : 5px 50px;
        }

        .styleguide{
            z-index     : 1;
            margin-left : 300px;
        }

        .file-section{
            padding-top : 170px;
        }
    </style>

</head>
<body onload="PR.prettyPrint();">

<header class="page-header container--colored-dk-marine">

    <h3>{{project.title}} Styleguide <sup class="version">
        <small>v.<strong>{{project.version}}</strong></small>
    </sup></h3>
    <p class="description">{{project.description}}</p>

</header>

<div id="wrapper">

    <div class="styleguide-nav">

        <div id="accordion-nav" class="panel-group" role="main">

            <div class="panel">
                <div class="panel-heading">
                    <h5 class="panel-title"><a class="btn-block" data-toggle="collapse" data-parent="#accordion-nav"
                                               href="#global-nav">Global</a></h5>
                </div>
                <div id="global-nav" class="panel-collapse collapse">
                    <div class="panel-body no-padding">
                        <ul class="nav nav-stacked">
                            {{#files}}
                                {{#blocks}}
                                    {{#if group.global}}
                                        <li><a class="btn-block"
                                               href="#{{tag}}" data-file="{{file}}">{{name}}</a></li>
                                    {{/if}}
                                {{/blocks}}
                            {{/files}}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <h5 class="panel-title"><a class="collapsed btn-block" data-toggle="collapse"
                                               data-parent="#accordion-nav" href="#components-nav" aria-expanded="true">Components</a>
                    </h5>
                </div>
                <div id="components-nav" class="panel-collapse collapse in">
                    <div class="panel-body no-padding">
                        <ul class="nav nav-stacked">
                            {{#files}}
                                {{#blocks}}
                                    {{#if group.component}}
                                        <li><a class="btn-block"
                                               href="#{{base}}" data-file="{{file}}">{{name}}</a></li>
                                    {{/if}}
                                {{/blocks}}
                            {{/files}}
                        </ul>
                    </div>
                </div>
            </div>

            <!--<div class="panel">
                <div class="panel-heading">
                    <h5 class="panel-title"><a class="collapsed btn-block" data-toggle="collapse"
                                               data-parent="#accordion-nav" href="#layout-nav">Layouts</a></h5>
                </div>
                <div id="layout-nav" class="panel-collapse collapse">
                    <div class="panel-body no-padding">
                        <ul class="nav nav-stacked">
                            {{#files}}
                                {{#blocks}}
                                    {{#if group.layout}}
                                        <li><a class="btn-block"
                                               href="#{{base}}" data-file="{{file}}">{{name}}</a></li>
                                    {{/if}}
                                {{/blocks}}
                            {{/files}}
                        </ul>
                    </div>
                </div>
            </div>-->

            <!--<div class="panel">
                <div class="panel-heading">
                    <h5 class="panel-title"><a class="collapsed btn-block" data-toggle="collapse"
                                               data-parent="#accordion-nav" href="#misc-nav">Utility</a></h5>
                </div>
                <div id="misc-nav" class="panel-collapse collapse">
                    <div class="panel-body no-padding">
                        <ul class="nav nav-stacked">
                            {{#files}}
                                {{#blocks}}
                                    {{^group}}
                                        <li><a class="btn-block"
                                               href="#{{base}}" data-file="{{file}}">{{name}}</a></li>
                                    {{/group}}
                                {{/blocks}}
                            {{/files}}
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <div class="styleguide">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xs-12 padding-xl-horizontal">

                    {{#files}}
                        <div class="file">

                            {{#blocks}}
                                <div class="file-section" id="{{#if group.global}}{{tag}}{{else}}{{base}}{{/if}}">

                                    {{#if group.global}}
                                        <h3>{{name}}</h3>
                                    {{else}}
                                        <h3>.{{base}}</h3>
                                    {{/if}}

                                    <p>{{name}} <strong>[{{group.name}}]</strong>{{#if description}} &mdash;
                                        <em>{{description}}</em>{{/if}}</p>

                                    <p><strong>Located in:</strong> <code>{{../file}}</code></p>

                                    <div class="block">

                                        <div class="info">

                                            <div class="well">

                                                <div class="well well--lt">
                                                    {{#if markup}}

                                                        {{^nooutput}}
                                                            <h5>Example(s)</h5>
                                                            <div class="example">
                                                                {{{../markup.example}}}
                                                            </div>

                                                            <hr/>

                                                        {{/nooutput}}

                                                        <h5>Sample Markup</h5>
                                                        <pre class="prettyprint lang-html">{{{markup.escaped}}}</pre>

                                                    {{/if}}

                                                    <hr/>

                                                    {{#if group.global}}

                                                        <table class="table table-striped margin-lg-bottom">
                                                            <thead>
                                                            <tr>
                                                                <th>Class</th>
                                                                <th>Description</th>
                                                                <th>Values</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{#if class}}
                                                                {{#class}}
                                                                    <tr>
                                                                        <td><pre class="prettyprint lang-css inline-blockify">.{{name}}</pre></td>
                                                                        <td>{{description}}</td>
                                                                        <td>
                                                                            {{#if options}}
                                                                                {{../optionDesc}}
                                                                            {{/if}}
                                                                        </td>
                                                                    </tr>
                                                                {{/class}}
                                                            {{/if}}
                                                            </tbody>
                                                        </table>

                                                    {{else}}

                                                        <h5>Element Modifiers</h5>
                                                        <table class="table table-striped margin-lg-bottom">
                                                            <thead>
                                                            <tr>
                                                                <th>State / Modifier</th>
                                                                <th>Description</th>
                                                                <th>Values</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{#if state}}
                                                                {{#state}}
                                                                    <tr>
                                                                        <td><pre class="prettyprint lang-css inline-blockify">.{{../../base}}{{name}}</pre></td>
                                                                        <td>{{description}}</td>
                                                                        <td></td>
                                                                    </tr>
                                                                {{/state}}
                                                            {{/if}}
                                                            {{#if modifier}}
                                                                {{#modifier}}
                                                                    {{^internalModifier}}
                                                                        <tr>
                                                                            <td>
                                                                                <pre class="prettyprint lang-css inline-blockify">.{{../../base}}{{name}}{{optionLabel}}</pre>
                                                                            </td>
                                                                            <td>{{description}}</td>
                                                                            <td>
                                                                                {{#if options}}
                                                                                    {{../../optionDesc}}
                                                                                {{/if}}
                                                                            </td>
                                                                        </tr>
                                                                    {{/internalModifier}}
                                                                {{/modifier}}
                                                            {{/if}}
                                                            </tbody>
                                                        </table>

                                                        <h6>Internal Element Modifiers</h6>
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Internal Element</th>
                                                                <th>State / Modifier</th>
                                                                <th>Description</th>
                                                                <th>Values</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{#if modifier}}
                                                                {{#modifier}}
                                                                    {{#if internalModifier}}
                                                                        <tr>
                                                                            <td>{{internalModifier}}</td>
                                                                            <td>
                                                                                <pre class="prettyprint lang-css inline-blockify">{{name}}{{optionLabel}}</pre>
                                                                            </td>
                                                                            <td>{{description}}</td>
                                                                            <td>
                                                                                {{#if options}}
                                                                                    {{../../optionDesc}}
                                                                                {{/if}}
                                                                            </td>
                                                                        </tr>
                                                                    {{/if}}
                                                                {{/modifier}}
                                                            {{/if}}
                                                            </tbody>
                                                        </table>
                                                    {{/if}}
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <p class="text-right"><a href="#" class="btn btn-default">Back to Top</a></p>
                                </div>
                            {{/blocks}}

                        </div>
                    {{/files}}

                </div>
            </div>
        </div>
    </div>
</div>

<footer>
</footer>

<script src="//localhost:35729/livereload.js"></script>

</body>