<!DOCTYPE html>

<html>

    {{> 'fixtures/PageHeader' }}

    <body class="{{pageClasses}}">

        {{> 'fixtures/Header' }}


        <!-- SECTION: MAIN NAV -->
        {{#> 'layouts/SectionLayout' type="main-nav" }}

            {{> 'fixtures/MainNav' }}

        {{/'layouts/SectionLayout'}}


        <!-- SECTION: CONTENT -->
        {{#> 'layouts/SectionLayout' type="hero-content" class="container--colored-tetra" }}


            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-12 col-md-8
                                padding-top-xl--show-at-md
                                padding-bottom-lg--show-at-md
                                padding-md-top
                                padding-md-bottom">

                        <h1>Let's Get Started!</h1>

                        <p class="text--lg margin-lg-bottom">Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
                        <p><a href="#" class="btn btn-lg btn-white">Start the Tour&hellip;</a></p>

                    </div>
                </div>

            </div>

        {{/'layouts/SectionLayout'}}

        <!-- SECTION: CONTENT -->
        {{#> 'layouts/SectionLayout' type="main-content" class="container--colored-white" }}

            <!-- MAIN CONTENT GOES HERE -->
            <div class="container-fluid padding-lg-vertical">

                <h2>Data For All!</h2>
                <p class="font--blokk text--xs text--colored-lt-gray">Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>

                <hr />

                <table class="datatable datatable--itemized datatable--responsive">

                    <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Group A</th>
                        <th scope="col">Group B</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Likes Vegetables</td>
                        <td data-label="Group A">18%</td>
                        <td data-label="Group B">42%</td>
                    </tr>
                    <tr>
                        <td>Likes Fruit</td>
                        <td data-label="Group A">57%</td>
                        <td data-label="Group B">39%</td>
                    </tr>
                    <tr class="summary-row">
                        <td>Total</td>
                        <td data-label="Group A">75%</td>
                        <td data-label="Group B">81%</td>
                    </tr>

                </table>

            </div>

        {{/'layouts/SectionLayout'}}

        {{> 'fixtures/Footer' }}

    </body>

    {{> 'fixtures/GoogleAnalytics' }}

    {{> 'fixtures/PageFooter' }}

</html>