<div class="column">
    <table width="{{#if width}}{{width}}{{else}}100%{{/if}}">
        <tr>
            <td class="inner">

                {{> @partial-block }}

            </td>
        </tr>
    </table>
</div>