<tr>
    <td class="one-column {{classes}}">
        <table width="100%">
            <tr>
                <td class="inner">
                    {{> @partial-block }}
                </td>
            </tr>
        </table>
    </td>
</tr>