{{#if start}}

    <!--[if (gte mso 9)|(IE)]>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="50%" valign="top">
            <![endif]-->

{{/if}}
{{#if middle}}

            <!--[if (gte mso 9)|(IE)]>
            </td>
            <td width="50%" valign="top">
            <![endif]-->

{{/if}}
{{#if end}}

            <!--[if (gte mso 9)|(IE)]>
            </td>
        </tr>
    </table>
    <![endif]-->

{{/if}}