<!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
        <![endif]-->

        {{> @partial-block }}

        <!--[if (gte mso 9)|(IE)]>
        </td>
    </tr>
</table>
<![endif]-->