<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{cssFilename}}"/>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table{ border-collapse : collapse; }
    </style>
    <![endif]-->
</head>
<body>
<center class="wrapper">
    <div class="webkit">

        {{> @partial-block }}

    </div>
</center>

<!-- build:remove:dist -->
<script src="//localhost:35729/livereload.js"></script>
<!-- /build -->

</body>
</html>