/// Gerneric list mixin
///
/// @group list
@mixin list-generic() {
  position: relative;
  
  li + li{ margin-top:$ad-hoc-space-sm; }
  
}

/// List variant mixin
///
/// @group list
@mixin list-variant(){}

/// List with triangle icons as bullets
///
/// @group list
/// @param {size} $size [map_get-deep($list--defaults, 'types', 'list', 'size')] - Size of the triangles for each list item's bullet
/// @param {color} $color - Color of the triangles for each list item's bullet
/// @output
@mixin list-triangles(
    $size:  map-deep-get($list--defaults, 'types', 'triangles', 'size'),
    $color: map-deep-get($list--defaults, 'types', 'triangles', 'color')
){

    padding-left: 2 * $size;

    li{
      position:relative;

      &:before{
        @extend .position--absolute;
        @include triangle( $size, $color, 270deg );
        left:-2 * $size;
        top: round($size) / 2;
        content:'';
      }
    }
}
