{{#> 'emails/Page' cssFilename="../css/external/emails/notification.css" }}

    {{#> 'emails/OutlookWrapper' }}

        <table class="outer" align="center">
            <tr>
                <td class="two-column contents contents--header">

                    {{> 'emails/OutlookTwoColumnParts' start=true }}

                    {{#> 'emails/Column' }}

                        <a href="#">ABC Company</a>

                    {{/ 'emails/Column' }}

                    {{> 'emails/OutlookTwoColumnParts' middle=true }}

                    {{#> 'emails/Column' }}

                        <div class="as-of-container">
                            <h3>Notifications as of:</h3>
                            <h4>{{todaysDate}}</h4>
                        </div>

                    {{/ 'emails/Column' }}

                    {{> 'emails/OutlookTwoColumnParts' end=true }}

                </td>
            </tr>

            {{#> 'emails/OneColumnRow' classes="contents contents--message-header" }}

                <p><em>The following notifications were sent from <a href="#">ABC Company</a></em></p>

            {{/'emails/OneColumnRow' }}
            {{#> 'emails/OneColumnRow' classes="contents contents--message" }}

                <table class="alerts-listing" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Notification</th>
                    </tr>
                    </thead>

                    <tbody>

                        <!--START DATA INPUT-->

                        <tr>
                            <td><a href="#">654</a></td>
                            <td><strong>Paul R.</strong> posted a new picture</td>
                        </tr>
                        <tr class="group-row">
                            <td></td>
                            <td><strong>Paul R.</strong> changed his profile</td>
                        </tr>
                        <tr>
                            <td><a href="#">675</a></td>
                            <td><strong>Chrissy M.</strong> posted a new picture</td>
                        </tr>
                        <tr>
                            <td><a href="#">23</a></td>
                            <td><strong>Larry B.</strong> posted a new picture</td>
                        </tr>
                        <tr>
                            <td><a href="#">567</a></td>
                            <td><strong>Sarah W.</strong> posted a new picture</td>
                        </tr>

                        <!--/ END DATA INPUT-->

                    </tbody>

                    <tfoot>
                        <tr class="group-row">
                            <td colspan="4" align="center">

                                <table width="100%" align="center">
                                    <tr class="group-row">
                                        <td width="25%"></td>
                                        <td width="50%" class="btn-action">
                                            <p><a href="#">Manage Notifications</a></p>
                                        </td>
                                        <td width="25%"></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </tfoot>
                </table>

            {{/'emails/OneColumnRow' }}
            {{#> 'emails/OneColumnRow' classes="contents contents--legal" }}

                <p class="legal">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <p class="unsubscribe"><strong>Don’t want to receive these emails anymore?</strong> <a href="#">Disable alert notifications</a></p>

            {{/'emails/OneColumnRow' }}
        </table>

    {{/'emails/OutlookWrapper'}}

{{/ 'emails/Page' }}