@import "container/vars";
@import "container/mixins";

//
// @name Container
// @description A standard container to put content, controls colors and dimension.
// @group component
//
// @base .container
// @modifier --fill-area    - Full sized absolute container that fits the entire parent element
// @modifier --flexbox      - Creates a flexbox display container
// @modifier --flexbox-cols-auto  - Creates a flexbox display container with item widths set to auto (default)
// @modifier --flexbox-cols-<columns> [ 2,3,4,5,6,7,8,9,10,11,12 ] - Creates a flexbox display container with item widths equal to a set column count, items are n / 100 percent width
// @modifier --lipped       - Creates a gradient lip at the top of the container
// @modifier --screened-lt  - Container with a light screen background color
// @modifier --screened-dk  - Container with a dark screen background color
// @modifier --colored-<color name> [ white, xlt-gray, soot, marine, dk-marine ] - Container with color theme (bg, headers, and text color)
// @modifier --colored-bg-<color name> [ see color values ] - Continer with cursory color theme for background color only
// @modifier --colored-text-<color name> [ see color values ] - Continer with cursory color theme for text colors only
// @modifier - (container--flexbox-item) Flexbox items that are designed to go inside a container--flexbox
//
// @markup
// <div class="container--colored-marine padding-sm">This is a container with a themed color set</div>
//
// <div class="container--colored-xlt-gray padding-sm margin-sm-vertical">Another themed container</div>
//
// <div class="container--flexbox container--flexbox-cols-3">
//     <div class="container--flexbox-item container--colored-dk-marine"><p class="padding-sm">Column 1</p></div>
//     <div class="container--flexbox-item container--colored-marine"><p class="padding-sm">Column 2</p></div>
//     <div class="container--flexbox-item container--colored-dk-marine"><p class="padding-sm">Column 3</p></div>
// </div>
//
//
.container{
  @include container-generic();
}

.container--fill-area{
  @include container-full-size(absolute);
}

.container--flexbox{
  display         : flex;
  overflow        : hidden;
  flex-wrap       : wrap;
  justify-content : space-between;
  
  .container--flexbox-item{
	flex : 0 0 100%;
  }
}

.container--flexbox-cols-auto{
  .container--flexbox-item{
	flex : 0 0 auto;
  }
}

@for $cols from 2 through 12{
  .container--flexbox-cols-#{$cols}{
	
	.container--flexbox-item{
	  @include flex(0, 0, #{98% / $cols});
	  width : calc(98% / #{$cols});
	}
	
	&.container--flexbox-cols-no-gutter{
	  justify-content : flex-start;
	  
	  .container--flexbox-item{
		@include flex(0, 0, #{100% / $cols});
		width : calc(100% / #{$cols});
	  }
	}
	
	@each $size, $limit in (
			xs:($screen-sm - 1),
			sm:($screen-md - 1),
			md:($screen-lg - 1)
	){
	  
	  &.container--flexbox-collapse-#{$size}{
		@include breakpoint(0 $limit){
		  display : block;
		  
		  .container--flexbox-item{
			flex  : 0 0 100% !important;
			width : 100% !important;
		  }
		}
	  }
	}
  }
}

.container--lipped{
  &:before{
	content : '';
	z-index : 2;
	@include gradient-lip(top, $ad-hoc-space-xs, $color--dk-screen-50, $color--clear, 0.33);
  }
}

.container--screened-lt{
  @include container-display-variant($color--lt-screen-85);
}

.container--screened-dk{
  @include container-display-variant($color--dk-screen-85);
}

@each $name, $values in $container--color-sets{
  
  .container--colored-#{$name}{
	@include container-colored(
					map_get($values, 'background-color'),
					map_get($values, 'text-color'),
					map_get($values, 'header-color'),
					map_get($values, 'border-color')
	);
  }
  
  .container--colored-bg-#{$name}{
	background-color : map_get($values, 'background-color');
  }
  
  .container--colored-text-#{$name}{
	@include container-colored(
					none,
					map_get($values, 'text-color'),
					map_get($values, 'header-color'),
					map_get($values, 'border-color')
	);
  }
}