@import "logo/vars";
@import "logo/functions";
@import "logo/mixins";
@import "logo/extends";

//
// @name Logo Wrapper
// @description Wrapper class for a logo
// @group component
//
// @base .logo-wrapper
//
// @nooutput
// @markup
//  <div class="logo-wrapper">
//   <a class="logo logo--brand-name" href="/">Brand name</a>
//  </div>
//
.logo-wrapper{
  @include position(relative);
  @include display(inline-block, 0, 0);
}

//
// @name Logo
// @description Container for a logo asset / image
// @group component
//
// @base .logo
// @modifier --<logo name> [nuveen] - Named logos with specific dimensions, urls, etc.
// @modifier --<size> [xs,sm,md,lg,xl] - Sizes for a named logo with specific dimensions that are scaled proportionally
//
// @nooutput
// @markup
//  <div class="logo-wrapper">
//   <a class="logo logo--nuveen logo--md" href="/">Nuveen Investments</a>
//  </div>
//
.logo{
  @extend %logo-base;
}

@each $logo, $logo-data in $logo--named-logos {

  $width:       map_get( map_get($logo-data, dimensions), width);
  $height:      map_get( map_get($logo-data, dimensions), height);
  $type:        map_get($logo-data, type);
  $path:        map_get($logo-data, path);
  $sizes:       map_get($logo-data, sizes);

  @if( map_get($logo-data, data) ){

    .logo--#{$logo}{
        @include logo-data('image/svg+xml', 'utf8', map_get($logo-data, data), $width, $height);
        background-size:contain !important; //this relies on SVG width & height attributes being present on the viewbox
    }

  } @else {

    @if( map_get($logo-data, retina) == true ){

      .logo--#{$logo}{
        @include logo(
            "#{$path}#{$path-url--logo-prefix}#{$logo}.#{$type}",
            "#{$path}#{$path-url--logo-prefix}#{$logo}#{$path-url--logo-2x-signifier}.#{$type}",
            $width, $height
        );
        background-size:contain !important; //this relies on SVG width & height attributes being present on the viewbox
      }

    } @else {

      .logo--#{$logo}{

        @include logo(
          "#{$path}#{$path-url--logo-prefix}#{$logo}.#{$type}",
          "#{$path}#{$path-url--logo-prefix}#{$logo}.#{$type}",
          $width, $height
        );
        background-size:contain !important; //this relies on SVG width & height attributes being present on the viewbox
      }
    }
  }

  @if( $sizes != null ){

    @each $size, $value in $sizes{
      .logo--#{$logo}.logo--#{$size}{
        @include logo-scale($width, $height, ($width / $height), $value);
      }
    }
  }
}