
// SHAPES


/* CIRCLE
----------------------------------------------------------------------------------------*/
@mixin circular( $percent:50% ){
  @include rounded( $percent );
}

/* TRIANGLE
----------------------------------------------------------------------------------------*/
@mixin triangle( $size:10px, $color:$default-color--text, $rotation:0deg ){
  @include display(inline-block);
  @include rotate( $rotation );
  width:0;
  height:0;
  border-left:#{$size / 2} solid transparent;
  border-right:#{$size / 2} solid transparent;
  border-top:$size solid $color;
}

/* GRADIENT LIPS
----------------------------------------------------------------------------------------*/
@mixin gradient-lip( $direction:top, $size:10px, $from-color:$color--dk-gray, $to-color:$color--clear, $opacity:0.65, $affixed:true ){

  @include opacity($opacity);

  @if( $affixed == true ){
    position: absolute;
  }

  @if( $direction == left ){
    width: $size;
    @include gradient-horizontal($from-color, $to-color, 0%, 100%);

    @if( $affixed == true ) { left:0; top:0; bottom:0; }
  }

  @if( $direction == right ){
    width: $size;
    @include gradient-horizontal($to-color, $from-color, 0%, 100%);

    @if( $affixed == true ) { right:0; top:0; bottom:0; }
  }

  @if( $direction == top ){
    height: $size;
    @include gradient-vertical($from-color, $to-color, 0%, 100%);

    @if( $affixed == true ) { left:0; top:0; right:0; }
  }

  @if( $direction == bottom ){
    height: $size;
    @include gradient-vertical($to-color, $from-color, 0%, 100%);

    @if( $affixed == true ) { left:0; bottom:0; right:0; }
  }
}

@mixin flex( $min, $max, $width ){
  width            :$width;
  -webkit-box-flex : $min $max $width;
  -webkit-flex     : $min $max $width;
  -ms-flex         : $min $max $width;
  flex             : $min $max $width;
}