// TYPOGRAPHY

/* FONT
----------------------------------------------------------------------------------------*/
@mixin font-size($size) {
  font-size : $size;
  font-size : calculateRem($size);
}

@mixin line-height($size) {
  line-height : $size;
  line-height : calculateRem($size);
}

/* OVERFLOW
----------------------------------------------------------------------------------------*/
@mixin overflow-text( $width:null ) {
  
  @if ($width != null){
	width : $width;
  }
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}