
// UTIL

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
/// @throw Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.;
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
          to top          : bottom,
          to top right    : bottom left,
          to right top    : left bottom,
          to right        : left,
          to bottom right : top left,
          to right bottom : left top,
          to bottom       : top,
          to bottom left  : top right,
          to left bottom  : right top,
          to left         : right,
          to left top     : right bottom,
          to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}

/// Justifies parent and direct child elements into a table / cell display; must specify width
/// @param {Element Tagname} $elementChildType - The element type of the direct child
/// @param {Percentage | Pixels | R/EM} $containerWidth - The parent containers width
@mixin justify-elements( $elementChildType, $containerWidth:100% ){
  display:table;
  width:$containerWidth;

  & > #{$elementChildType}{
    display:table-cell;
  }
}

/// Produces all browser supported transform definitions for multiple attributes
/// @param {Transform List} $transforms - CSS transform list
@mixin multi-transform( $transforms ){
  -webkit-transform: $transforms;
      -ms-transform: $transforms; // IE9 only
       -o-transform: $transforms;
          transform: $transforms;
}

/// Produces all browser supported keyframe definitions
/// @param {Animation Name} $animation-name - Name of animation
/// @content
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}