/* HEADER ITEM TEXT
----------------------------------------------*/
#{$headers}{
  @extend .font--arial;
}

/* INLINE & LINE ITEM TEXT
----------------------------------------------*/
#{$text-elements}{
  @extend .font--arial;
  @extend .text--md;
}

hr{
  border           : none;
  height           : 1px;
  background-color : $color--slate;
}

/* INLINE & LINE ITEM TEXT SPACING
----------------------------------------------*/
section{
  @each $el in $headers{
	p + #{$el},
	ul + #{$el},
	ol + #{$el},
	dl + #{$el},
	blockquote + #{$el}{
	  margin-top : calculateRem(30px);
	}
	
	#{$el} + p,
	#{$el} + ul,
	#{$el} + ol,
	#{$el} + dl,
	#{$el} + blockquote{
	  margin-top : calculateRem($ad-hoc-space-sm);
	}
  }
  
  @each $el in (p, ul, ol, blockquote){
	p + #{$el},
	ul + #{$el},
	ol + #{$el},
	dl + #{$el},
	blockquote + #{$el}{
	  margin-top : calculateRem($ad-hoc-space-md);
	}
  }
  
  li + li,
  dt + dt,
  dd + dd,
  dt + dd,
  dd + dt{
	margin-top : calculateRem($ad-hoc-space-sm);
  }
}

/* FORM CONTROLS
----------------------------------------------*/
textarea,
input[type="search"],
input[type="email"],
input[type="text"]{
  @extend .font--arial;
  color : $default-color--text;
  
  &:focus{ box-shadow : none; }
}

label{
  @extend .font--arial;
  color : $color--tetra;
}