// a map-set function (not included with Sass)
@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

//Deep map get
@function map-deep-get($map, $keys...) {
  $value: $map;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}

//strips units from a value
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Utility length function
@function is-length($value){
  @return ( type_of($value) == "number" and not unitless($value) ) or
          ( index(auto initial inherit 0, $value) != false );
}

// Calculate rem for pixels
@function calculateRem($size){
  $remSize: $size/10px;
  @return $remSize * 1rem;
}

// Determine opposite direction
@function opposite-direction($direction){
  $opposite-direction: center;

  @if $direction == top {
    $opposite-direction: bottom;
  }
  @if $direction == bottom {
    $opposite-direction: top;
  }
  @if $direction == left {
    $opposite-direction: right;
  }
  @if $direction == right {
    $opposite-direction: left;
  }

  @return $opposite-direction;
}

@function first-value-of( $values ){
  @return nth($values, 1);
}