<!-- FOOTER -->
<footer class="layout layout--footer">

    <div class="utility-nav">
        {{> 'fixtures/UtilityNav' }}
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="cols-xs-12
                        col-md-6
                        no-padding-left
                        no-padding-right
                        padding-md-vertical">

                <p class="text--xs text-left">The content of this site, including but not limited to the text and images herein and their arrangement, are <a href="#">Copyright &copy; 2016 by Hello World, LLC</a> All rights reserved.</p>

            </div>
        </div>
    </div>
</footer>

</form>
<!-- END WEB FORMS ELEMENT -->