<!-- START WEB FORMS ELEMENT -->
<form id="form1" runat="server" class="page">

<!-- HEADER -->
<header class="layout layout--header">

    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-md-6 no-padding">

                <div class="branding">

                    <h1><a class="logo logo--hw-full logo--lg" href="/">Hello World, LLC</a></h1>

                </div>

            </div>
            <div class=" col-xs-12 col-md-6 no-padding">

                <div class="accounting">

                    <p class="account-welcome">
                        <strong>Welcome back, <em class="username">Max</em>.
                            <a href="#">Not <span class="username">Max</span>? Sign out.</a>
                        </strong>
                    </p>

                    <input id="account-menu-toggle" type="checkbox" hidden />

                    <div class="account-links">
                        {{> 'fixtures/AccountingNav'}}
                    </div>

                    <div class="account-menu-toggle">
                        <label for="account-menu-toggle" class="btn btn-default">
                            <em class="icon icon-text--md icon--gray icon--gear margin-xs-right"></em> <span class="username">Max</span>
                        </label>
                    </div>

                </div>

                <div class="quicksearch">

                    <div class="form-group form-inline">
                        <label>Quick Search</label>
                        <input class="form-control" type="text" placeholder="Keyword(s)"/>
                        <button type="button" class="btn btn-default"><em class="icon icon--md icon--gray icon--search"></em></button>
                    </div>

                </div>

            </div>

        </div>
    </div>

</header>