<ul class="navigation">
    <li class="{{#compare activeMenuItem '==' 'home'}}active{{/compare}}"><a href="#">Home</a></li>
    <li class="{{#compare activeMenuItem '==' 'products'}}active{{/compare}}"><a href="#">Our Products</a></li>
    <li class="{{#compare activeMenuItem '==' 'dashboard'}}active{{/compare}}"><a href="#">My Dashboard</a></li>
    <li class="{{#compare activeMenuItem '==' 'help'}}active{{/compare}}"><a href="#">Help Center</a></li>
</ul>