<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}}{{else}}Hello World, LLC - A Framework Company{{/if}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

    <link href="/css/style.css" rel="stylesheet" media="screen" />

    {{#unless noIESupport}}
    <!--[if lte IE 9]><link href="/css/ie.css" rel="stylesheet" media="all" /><![endif]-->
    {{/unless}}

    {{#each stylesheets as |stylesheet|}}
        <link href="{{stylesheet.path}}" rel="stylesheet" media="{{#if stylesheet.media}}{{stylesheet.media}}{{else}}screen{{/if}}" />
    {{/each}}
</head>