{{#unless noScripts}}
<!-- build:js ../js/common.min.js --><script src="/js/common.js"></script><!-- /build -->
<!-- build:js ../js/templates.min.js --><script src="/js/templates.js"></script><!-- /build -->
<!-- build:js ../js/site.min.js --><script src="/js/site.js"></script><!-- /build -->
{{/unless}}

<!-- build:remove:dist -->
<script src="//localhost:35729/livereload.js"></script>
<!-- /build -->
