<ul class="navigation">
    <li><a href="#">Glossary</a></li>
    <li><a href="#">Legal</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Feedback</a></li>
    <li><a href="#">Help</a></li>
</ul>