
// COLORS

// Brand Palette
$color--white:      #FFFFFE;
$color--lunar:  	#F4F4F4;
$color--feather:    #E4E4E4;
$color--dove:       #CDCDCD;
$color--slate:      #63696B;
$color--stone:   	#32393F;
$color--obsidian:   #333333;
$color--onyx:       #111111;
$color--sand:       #E9E5DC;
$color--khaki:      #A99775;
$color--hay:        #E5CE8D;
$color--gold:       #EFA720;
$color--bedrock:    #2F3739;
$color--navy:       #0B2937;
$color--seawater:   #004656;
$color--brine:      #004449;
$color--tetra:      #007978;
$color--poolwater:  #00A0D3;
$color--bermuda:  	#59A3B9;
$color--sky:        #BAE5FF;
$color--meadow:     #9FB227;
$color--pickle:		#6a852a;
$color--chile: 		#8F0A19;
$color--raspberry:  #9A1A45;

// Grays Spectrum
$color--gray:                     	mix( $color--white, $color--obsidian );
$color--xlt-gray:         			lighten( $color--gray, 30% );
$color--lt-gray:          			lighten( $color--gray, 15% );
$color--dk-gray:          			darken( $color--gray, 15% );
$color--xdk-gray:          			mix( $color--dk-gray, $color--obsidian );

$color--white-smoke:				mix( $color--white, $color--obsidian, 85% );
$color--gray-mix:                  	mix( $color--gray, $color--bedrock, 50% );
$color--xlt-gray-mix:               lighten( $color--gray-mix, 50% );
$color--lt-gray-mix:                lighten( $color--gray-mix, 25% );
$color--dk-gray-mix:                darken( $color--gray-mix, 25% );
$color--xdk-gray-mix:               darken( $color--gray-mix, 50% );


// UI / Util Colors
$color--lt-screen-85 :        		rgba( $color--white, .85 );
$color--dk-screen-85 :        		rgba( $color--obsidian, .85 );
$color--lt-screen-50 :       		rgba( $color--white, .5 );
$color--dk-screen-50 :       		rgba( $color--obsidian, .5 );
$color--lt-screen-25 :       		rgba( $color--white, .25 );
$color--dk-screen-25 :       		rgba( $color--obsidian, .25 );
$color--clear:            			rgba( $color--white, 0 );

$color--positive-value:   			$color--meadow;
$color--negative-value:   			$color--raspberry;
$color--success:   					$color--meadow;
$color--danger:   					$color--chile;
$color--warning:   					$color--gold;
$color--info:               		$color--poolwater;

$color--modal-backdrop:           transparentize( mix( $color--bedrock, $color--onyx, 80% ), 0.65 );

// Default Colors
$default-color--header:           $color--obsidian;
$default-color--text:             $color--bedrock;
$default-color--text-muted:       $color--lt-gray;
$default-color--border:           $color--xlt-gray;
$default-color--html-bgcolor :    $color--dove;
$default-color--body-bgcolor :    $color--dove;
$default-color--link-color:       $color--bermuda;
$default-color--link-hover-color: mix( $color--bermuda, $color--brine );

$color--palette : (
	'white':      $color--white,
	'lunar':      $color--lunar,
	'feather':    $color--feather,
	'dove':       $color--dove,
	'slate':      $color--slate,
	'stone':   	  $color--stone,
	'obsidian':   $color--obsidian,
	'onyx':       $color--onyx,
		
	'sand':       $color--sand,
	'khaki':      $color--khaki,
	'hay':        $color--hay,
	'gold':       $color--gold,
		
	'bedrock':    $color--bedrock,
	'navy':       $color--navy,
	'seawater':   $color--seawater,
	'brine':      $color--brine,
	'tetra':      $color--tetra,
	'poolwater':  $color--poolwater,
	'sky':        $color--sky,
		
	'meadow':     $color--meadow,
	'pickle':     $color--pickle,
		
	'chile': 		$color--chile,
	'raspberry':  	$color--raspberry,
		
	'gray': 		$color--gray,
	'xlt-gray': 	$color--xlt-gray,
	'lt-gray': 		$color--lt-gray,
	'dk-gray': 		$color--dk-gray,
	'xdk-gray': 	$color--xdk-gray,
	'white-smoke': 	$color--white-smoke,
		
	'lt-screen-85': $color--lt-screen-85,
	'lt-screen-50': $color--lt-screen-50,
	'lt-screen-25': $color--lt-screen-25,
		
	'dk-screen-85': $color--dk-screen-85,
	'dk-screen-50': $color--dk-screen-50,
	'dk-screen-25': $color--dk-screen-25,
		
	'clear': 		$color--clear
);