
// TYPOGRAPHY


$headers:                 h1, h2, h3, h4, h5, h6;
$text-elements:           div, p, li, dt, dd;
$text-elements--italics:  em, i;
$text-elements--bolds:    strong, b;

/* FONT VARIABLES
----------------------------------------------------------------------------------------*/

// Font File Root Paths
$font-family-path--icons:             	$path-root--fonts + "icons/";
$font-family-path--scala-sans:        	$path-root--fonts + "scala-sans/";
$font-family-path--blokk:        		$path-root--fonts + "blokk/";

// Generic system font families
$font-family--verdana:                	Verdana, monospace;
$font-family--arial:                  	"ArialMT", Arial, sans-serif;

// Imported font families
$font-family--blokk:                  	"Blokk Neue Regular", Arial, sans-serif;

$font-family--scala-sans: 				"Scala Sans", 				#{$font-family--arial};
$font-family--scala-sans-italic: 		"Scala Sans Italic", 		#{$font-family--arial};
$font-family--scala-sans-bold: 			"Scala Sans Bold", 			#{$font-family--arial};
$font-family--scala-sans-bold-italic: 	"Scala Sans Bold Italic", 	#{$font-family--arial};
$font-family--scala-sans-caps: 			"Scala Sans Caps", 			#{$font-family--arial};
$font-family--scala-sans-caps-italic: 	"Scala Sans Caps Italic", 	#{$font-family--arial};

// Font Icons
$font-family--icons:                  	"Icons";
$font-icons--file-prefix:             	"sample-icons-";
$font-icons--family-name:             	$font-family--icons;

// Modular Scale for type, header, and base HTML
// (see: vars/_modular-scale.scss for definitions)

// Ratio of type sizes in relation to them selves:
$font-size--xl:               ms(4,   $modular-scale--text-base-size, $modular-scale--text-scale);
$font-size--lg:               ms(3,   $modular-scale--text-base-size, $modular-scale--text-scale);
$font-size--md:               ms(2,   $modular-scale--text-base-size, $modular-scale--text-scale);
$font-size--sm:               ms(1,   $modular-scale--text-base-size, $modular-scale--text-scale);
$font-size--xs:               ms(0,   $modular-scale--text-base-size, $modular-scale--text-scale);

// Ratio of line heights in relation to their respective type sizes from above:
$line-height--xl:             ms(4,   $modular-scale--line-height-base-size, $modular-scale--line-height-scale);
$line-height--lg:             ms(3,   $modular-scale--line-height-base-size, $modular-scale--line-height-scale);
$line-height--md:             ms(2,   $modular-scale--line-height-base-size, $modular-scale--line-height-scale);
$line-height--sm:             ms(1,   $modular-scale--line-height-base-size, $modular-scale--line-height-scale);
$line-height--xs:             ms(0,   $modular-scale--line-height-base-size, $modular-scale--line-height-scale);

// Ratio of header sizes in relation to them selves:
$header-size--h1:             ms(6,   $modular-scale--header-base-size, $modular-scale--header-scale);
$header-size--h2:             ms(4,   $modular-scale--header-base-size, $modular-scale--header-scale);
$header-size--h3:             ms(3,   $modular-scale--header-base-size, $modular-scale--header-scale);
$header-size--h4:             ms(2,   $modular-scale--header-base-size, $modular-scale--header-scale);
$header-size--h5:             ms(1,   $modular-scale--header-base-size, $modular-scale--header-scale);
$header-size--h6:             ms(0,   $modular-scale--header-base-size, $modular-scale--header-scale);

// Ratio of line heights in relation to their respective type sizes from above:
$header-line-height--h1:      ms(5,   $modular-scale--header-line-height-base-size, $modular-scale--header-line-height-scale);
$header-line-height--h2:      ms(3,   $modular-scale--header-line-height-base-size, $modular-scale--header-line-height-scale);
$header-line-height--h3:      ms(2,   $modular-scale--header-line-height-base-size, $modular-scale--header-line-height-scale);
$header-line-height--h4:      ms(1,   $modular-scale--header-line-height-base-size, $modular-scale--header-line-height-scale);
$header-line-height--h5:      ms(0,   $modular-scale--header-line-height-base-size, $modular-scale--header-line-height-scale);
$header-line-height--h6:      ms(0,   $modular-scale--header-line-height-base-size, $modular-scale--header-line-height-scale);

// Ratio of devices sizes that above type / header / line heights adapt to (based on html's rem):
$html-size-xs:  ms(0, $modular-scale--html-base-size, $modular-scale--html-scale);
$html-size-sm:  ms(0, $modular-scale--html-base-size, $modular-scale--html-scale);
$html-size-md:  ms(0, $modular-scale--html-base-size, $modular-scale--html-scale);
$html-size-lg:  ms(0, $modular-scale--html-base-size, $modular-scale--html-scale);

@debug "";
@debug "--[ TEXT ]----------------------------------------";
@debug "|             |  XL  |  LG  |  MD  |  SM  |  XS  |";
@debug "|-------------|------|------|------|------|------|";
@debug "| Font Size   | "+$font-size--xl+" | "+$font-size--lg+" | "+$font-size--md+" | "+$font-size--sm+" | "+$font-size--xs+"  |";
@debug "|-------------|------|------|------|------|------|";
@debug "| Line Height | "+$line-height--xl+" | "+$line-height--lg+" | "+$line-height--md+" | "+$line-height--sm+" | "+$header-line-height--h5+" |";
@debug "--------------------------------------------------";

@debug "";
@debug " --[ HEADERS ]--------------------------------------------";
@debug " |             |  H1  |  H2  |  H3  |  H4  |  H5  |  H6  |";
@debug " |-------------|------|------|------|------|------|------|";
@debug " | Font Size   | "+$header-size--h1+" | "+$header-size--h2+" | "+$header-size--h3+" | "+$header-size--h4+" | "+$header-size--h5+" | "+$header-size--h6+" |";
@debug " |-------------|------|------|------|------|------|------|";
@debug " | Line Height | "+$header-line-height--h1+" | "+$header-line-height--h2+" | "+$header-line-height--h3+" | "+$header-line-height--h4+" | "+$header-line-height--h5+" | "+$header-line-height--h6+" |";
@debug " ---------------------------------------------------------";

@debug "";
@debug "--[ SCALE ]------------------";
@debug "|                   |  REM  |";
@debug "|-------------------|-------|";
@debug "| 0 - #{$screen-xs}         | "+$html-size-xs+"  |";
@debug "|-------------------|-------|";
@debug "| #{$screen-xs + 1} - #{$screen-sm}     | #{$html-size-sm}  |";
@debug "|-------------------|-------|";
@debug "| #{$screen-sm + 1} - #{$screen-md}     | #{$html-size-md}  |";
@debug "|-------------------|-------|";
@debug "| #{$screen-md + 1} - #{$screen-lg}    | #{$html-size-lg}  |";
@debug "|-------------------|-------|";
@debug "| #{$screen-lg + 1}            | #{$html-size-lg}  |";
@debug "-----------------------------";

/* FONT DEFINTION FILES
----------------------------------------------------------------------------------------*/
@import "../fonts/icons";
@import "../fonts/scala-sans";
@import "../fonts/blokk";