.layout--footer{
  @extend .container--colored-bedrock;
  border-radius : 0 0 $default-border--radius $default-border--radius;
  
  .utility-nav{
	padding-left  : $ad-hoc-space-md;
	margin        : auto (-1 * $ad-hoc-space-md);
	border-bottom : $ad-hoc-border-sm solid map-deep-get($nav--color-sets, 'bedrock', 'border-segment-color');
  }
  
  .navigation{
	@extend .navigation--inline;
	@extend .navigation--segmented;
	@extend .navigation--segmented-outer;
	@extend .navigation--bedrock;
	@include nav-variant-size($ad-hoc-space-xs $ad-hoc-space-sm, 9px);
	margin : 0;
  }
  
  .data-sponsor{
	text-align : center;
  }
  
  @include breakpoint(max-width $screen-xs-max){
	
	.utility-nav{
	  padding-left: 0;
	}
	
	.navigation{
	  margin:auto;
	}
	.site-notes,
	.data-sponsor{
	  text-align : center;
	}
  }
  
  @include breakpoint(max-width ($screen-xs - 1)){
	border-radius: 0;
  }
}