.layout--main-nav{
  
  @extend .container--colored-seawater;
  
  .navigation{
	@extend .navigation--inline;
	@extend .navigation--segmented;
	@extend .navigation--seawater;
	@include nav-variant-size($ad-hoc-space-sm 15px, $font-size--md);
	margin : 0;
  
	a{ font-weight: bold; }
  }
  
  @include breakpoint(max-width $screen-sm-max){
		
	.navigation{
	  @include nav-variant-size($ad-hoc-space-sm 9px, 9px);
	}
  }
  
  @include breakpoint(max-width $screen-xs-max){
	
	.navigation{
	  
	  margin: auto;
	  
	  li:first-child{ display : none; }
	  
	  li:last-child{
		border-right-style : solid;
		border-right-width : $ad-hoc-border-sm;
	  }
	}
  }
}