<div class="layout layout--{{type}} {{class}}">

    {{#if header-content}}
    <div class="layout-header">
        {{{ header-content }}}
    </div>
    {{/if}}

    <div class="layout-content">
        {{> @partial-block }}
    </div>

    {{#if footer-content}}
    <div class="layout-footer">
        {{{ footer-content }}}
    </div>
    {{/if}}

</div>