
// FONT ICONS

$__iconfamily:  $font-icons--family-name;
$__iconpath:    "#{$font-family-path--icons}#{$font-icons--file-prefix}";

/* Layer 1
----------------------------------------------------------------------------------------*/
@font-face {
  font-family: $__iconfamily;
  src:url('#{$__iconpath}100.woff?ac57dy') format('woff'),
  url('#{$__iconpath}100.ttf?ac57dy') format('truetype'),
  url('#{$__iconpath}100.svg?ac57dy#{$font-icons--file-prefix}100') format('svg');
  font-weight: 100;
  font-style: normal;
}
