@font-face {
  font-family: 'Scala Sans Bold';
  src: url('#{$font-family-path--scala-sans}scalasabd-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-family-path--scala-sans}scalasabd-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-family-path--scala-sans}scalasabd-webfont.woff') format('woff'), /* Modern Browsers */
  url('#{$font-family-path--scala-sans}scalasabd-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-family-path--scala-sans}scalasabd-webfont.svg#75d26880f9e4d73b286c49a276d10a7a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Scala Sans Bold Italic';
  src: url('#{$font-family-path--scala-sans}scalasabdit-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-family-path--scala-sans}scalasabdit-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-family-path--scala-sans}scalasabdit-webfont.woff') format('woff'), /* Modern Browsers */
  url('#{$font-family-path--scala-sans}scalasabdit-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-family-path--scala-sans}scalasabdit-webfont.svg#e939da63d2118d945b4f42d665eee236') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Scala Sans Italic';
  src: url('#{$font-family-path--scala-sans}scalasait-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-family-path--scala-sans}scalasait-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-family-path--scala-sans}scalasait-webfont.woff') format('woff'), /* Modern Browsers */
  url('#{$font-family-path--scala-sans}scalasait-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-family-path--scala-sans}scalasait-webfont.svg#a359c5d1378719fa1c2315cce15face6') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Scala Sans';
  src: url('#{$font-family-path--scala-sans}scalasan-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-family-path--scala-sans}scalasan-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-family-path--scala-sans}scalasan-webfont.woff') format('woff'), /* Modern Browsers */
  url('#{$font-family-path--scala-sans}scalasan-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-family-path--scala-sans}scalasan-webfont.svg#32ec9efc78e9efa26390edb9fe2902d8') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Scala Sans Caps Italic';
  src: url('#{$font-family-path--scala-sans}scalasacpit-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-family-path--scala-sans}scalasacpit-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-family-path--scala-sans}scalasacpit-webfont.woff') format('woff'), /* Modern Browsers */
  url('#{$font-family-path--scala-sans}scalasacpit-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-family-path--scala-sans}scalasacpit-webfont.svg#a359c5d1378719fa1c2315cce15face6') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Scala Sans Caps';
  src: url('#{$font-family-path--scala-sans}scalasacp-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-family-path--scala-sans}scalasacp-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-family-path--scala-sans}scalasacp-webfont.woff') format('woff'), /* Modern Browsers */
  url('#{$font-family-path--scala-sans}scalasacp-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-family-path--scala-sans}scalasacp-webfont.svg#32ec9efc78e9efa26390edb9fe2902d8') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}